<p>
  <strong>Starts at:</strong>
  <%= @place_rent.starts_at %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @place_rent.ends_at %>
</p>

<p>
  <strong>Price:</strong>
  <%= @place_rent.price %>
</p>

<%= link_to 'Back to place rents', place_rents_path %>
